body { 
    margin: 0;
    padding: 10;
}

div#games {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 80%;
    background: #ccc;
}

div#games .game {
    background: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

div#sidebar {
    position: absolute;
    right: 0;
    width: 200px;
    top: 10%;
    height: 80%;
    background-color: #ccc;
    padding: 20px
}
