body { 
    margin: 0;
    padding: 10;
}

div#games {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 80%;
    background: #ccc;
}

div#games .game {
    background: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}